@model WebFinalProject.Models.Review

@{
    ViewBag.Title = "Details";
}

<section>
    <article class="review-post">
        <header>
            <h2>@Model.Title</h2>
            <div class="rating">User rating: <b>@Model.Score</b> | @Model.Game.Title</div>
            <div class="by-line">By <a href="#">@Model.User.Email</a> | Review date: <time>@Html.DisplayFor(model => model.ReviewDate)</time></div>
        </header>

        <hr />

        <div class="content">
            <p>@Model.Content</p>
        </div>
    </article>
</section>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
