@model WebFinalProject.Models.Review

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>


<!--
    <section>
    <article class="blogPost">
        <header>
            <h2>@Model.Title</h2>
            <p>Posted on <time>@Html.DisplayFor(model => model.ReviewDate)</time> by <a href="#">@Model.User.Email</a> - <a href="#comments">@Model.postComments.Count comments</a></p>
        </header>

        <div>
            <p>@Model.post.Content</p>
        </div>

        <div>
            @if (File.Exists(Server.MapPath("~/Uploads/") + Model.post.ID + ".png"))
            {
                <img src="~/Uploads/@(Model.post.ID + ".png")" width="400" />
            }
        </div>

        <div>
            @if (File.Exists(Server.MapPath("~/Uploads/") + Model.post.ID + ".mp4"))
            {
                <video controls="controls" style="width:400px;">
                    <source src="~/Uploads/@(Model.post.ID + ".mp4")" type="video/mp4" />
                    Your browser does not support the video tag.
                </video>
            }
        </div>

    </article>
</section>
    -->


<div>
    <h4>Review</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Game.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Game.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Score)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Score)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReviewDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReviewDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
