@using PagedList.Mvc;
@using PagedList;

@model IPagedList<WebFinalProject.Models.Review>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().Game.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().User.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Score)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().ReviewDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Game.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Score)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

    </table>

    <!--my ajax solution-->

<div class="pagedList" data-otf-target="#dynamicContent">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>

<!--
    THIS IS MVC solution
    
    @Html.PagedListPager(Model, page => Url.Action("Index",
new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }),
    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "dynamicContent" }))-->



