@model WebFinalProject.Models.Game

@{
    ViewBag.Title = "Details";
}

<div class="row">
    <div class="col-xs-6">

        <div class="row">
            <div class="col-xs-5">
                @if (File.Exists(Server.MapPath("~/Content/Media/") + Model.Id + "thumbnail.png"))
{
    <img src="~/Content/Media/@(Model.Id + "thumbnail.png")" width="150" height="150" />
}
                else
                {
                    <img src="~/Content/Media/no_pic.png" width="150" height="150" />
                }
            </div>

            <div class="col-xs-7">
                <h2>@Html.DisplayFor(model => model.Title)</h2>
                <div><b>Genre:</b> @Html.DisplayFor(model => model.Genre.Name)</div>

                <div><b>Release Date:</b> @Html.DisplayFor(model => model.ReleaseDate)</div>

                <div><b>Description:</b> @Html.DisplayFor(model => model.Description)</div>

                <div><b>Cost:</b> @Html.DisplayFor(model => model.Cost)</div>
            </div>
        </div>

        <div class="row score-badge">
            <div class="col-xs-4 game-score">
                @Html.DisplayFor(model => model.AverageScore)
            </div>
            <div class="col-xs-4 glyphicon review-icon"></div>
        </div>

        <div class="row">
            <div class="col-xs-3">
                @Html.ActionLink(" Review", "Create", "Reviews", new { gameId = Model.Id }, new { @class = "btn btn-primary glyphicon glyphicon-align-justify" })
            </div>

            <div class="col-xs-3">
                @Html.ActionLink(" Purchase", "Create", "Transaction", new { gameId = Model.Id }, new { @class = "btn btn-success glyphicon glyphicon-shopping-cart" })
            </div>
        </div>

        @if (File.Exists(Server.MapPath("~/Content/Media/") + Model.Id + ".mp4"))
        {
            <div class="row">
                <div class="col-xs-6">
                    <video controls="controls" class="game-video">
                        <source src="~/Content/Media/@(Model.Id + ".mp4")" type="video/mp4" />
                        Your browser does not support the video tag.
                    </video>
                </div>
             </div>
        }


        <div class="row bottom-links">
            <div class="col-xs-4" >
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>

    </div>

    <div class="col-xs-offset-2 col-xs-4" id="myPie"></div>

</div>

<script>
    var badReview = '@ViewBag.Bad' || 0;
    var goodReview = '@ViewBag.Good' || 0; 
    var greatReview = '@ViewBag.Great' || 0; 
</script>

@Scripts.Render("~/bundles/game")