@model IEnumerable<WebFinalProject.Models.Game>

<h2>Game Catalog</h2>

@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

<form method="get" action="@Url.Action("Index")"
      data-otf-ajax="true" data-otf-target="#dynamicContent">

    <label>Filters</label>
    <div class="row filters-catalog">
        <div class="by-name">
            Game Title:
        </div>
        <div class="col-xs-2">
            @Html.TextBox("searchString", "", new { @class = "form-control" })
        </div>

        <div class="by-genre">
            Genre: 
        </div>
        <div class="col-xs-2">
            @Html.DropDownList("genreFilter", new SelectList(ViewBag.Genres), "Choose genre", new { @class = "form-control" })
        </div>
        <div class="by-score">
            Score Above:
        </div>
        <div class="col-xs-1">
            <input type="number" name="scoreAbove" min="0" max="100" value="0" class="form-control" />
        </div>

        <div class="col-xs-1">
            <input type="submit" value="Search" class="btn btn-primary" />
        </div>

    </div>
</form>

    <br/>
    <br />

<div id="dynamicContent">
    @Html.Partial("CatalogTemplate", Model)
</div>