<div>
    <ul class="pagination">
        <li>
            @Ajax.ActionLink("First", "Index", new { page = 1 }, new AjaxOptions
                                                                    {
                                                                        HttpMethod = "GET",
                                                                        InsertionMode = InsertionMode.Replace,
                                                                        UpdateTargetId = "WebService",
                                                                        OnComplete = "ajax_call()"
                                                                    })
        </li>

        @{
            int i;

            for (i = 0; i < 15; i++)
            {
                if (i + 1 == ViewBag.page)
                {
                    <li class="active">
                        @Ajax.ActionLink((i + 1).ToString(), "Index", new { page = i + 1 }, new AjaxOptions
                                                                    {
                                                                        HttpMethod = "GET",
                                                                        InsertionMode = InsertionMode.Replace,
                                                                        UpdateTargetId = "WebService",
                                                                        OnComplete = "ajax_call()"
                                                                    })
                    </li>
                }
                else
                {
                    <li>
                        @Ajax.ActionLink((i + 1).ToString(), "Index", new { page = i + 1 }, new AjaxOptions
                                                                    {
                                                                        HttpMethod = "GET",
                                                                        InsertionMode = InsertionMode.Replace,
                                                                        UpdateTargetId = "WebService",
                                                                        OnComplete = "ajax_call()"
                                                                    })
                    </li>
                }
            }
        }

        <li>
            @Ajax.ActionLink("Last", "Index", new { page = i }, new AjaxOptions
                                                                    {
                                                                        HttpMethod = "GET",
                                                                        InsertionMode = InsertionMode.Replace,
                                                                        UpdateTargetId = "WebService",
                                                                        OnComplete = "ajax_call()"
                                                                    })
        </li>
    </ul>
</div>

<div id="games">
    @* Loading Spinner *@
    <div id="fountainG">
        <div id="fountainG_1" class="fountainG"></div>
        <div id="fountainG_2" class="fountainG"></div>
        <div id="fountainG_3" class="fountainG"></div>
        <div id="fountainG_4" class="fountainG"></div>
        <div id="fountainG_5" class="fountainG"></div>
        <div id="fountainG_6" class="fountainG"></div>
        <div id="fountainG_7" class="fountainG"></div>
        <div id="fountainG_8" class="fountainG"></div>
    </div>
</div>

<script>
    var offset = '@(ViewBag.page - 1)' || 0;
</script>
